<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MiniQueue.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <MiniQueue.Properties.Settings>
            <setting name="SizeMode" serializeAs="String">
                <value>Medium</value>
            </setting>
            <setting name="TextColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="UpdateInterval" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="BackColor" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="ErrorColor" serializeAs="String">
                <value>Red</value>
            </setting>
        </MiniQueue.Properties.Settings>
    </userSettings>
</configuration>